@import 'tailwindcss';

@theme {
  --color-primary: #31b5c4;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  @apply px-5 py-2 bg-primary text-white rounded-lg hover:bg-primary/90 transition duration-300 ease-in-out;
}
